<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" style="height: 96vh">
<head id="headId">
</head>
<body style="height: 100%">
<div style="height: 100%; text-align: center; display:flex;  width: 1000px; margin: 0 auto; flex-direction: column; justify-content: space-between; align-items: center">
    <div>
        <h1 id="title">Title</h1>
        <h2>Game Over</h2>
        <h3 id="resultMessage">Result message</h3>
        <h3><a id="reset">Play Again</a></h3>
        <h3><a href="/">Home</a></h3>
    </div>
    <footer id="footer"></footer>
</div>
</body>
</html>