<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" style="height: 96vh">
<head th:replace="~{fragments/head.html::headFragment}">
</head>
<body style="height: 100%">
<div style="height: 100%; text-align: center; display:flex;  width: 1000px; margin: 0 auto; flex-direction: column; justify-content: space-between; align-items: center">
    <div>
        <h1 th:replace="~{fragments/title.html::titleFragment}">Title</h1>
        <h2>Game Over</h2>
        <h3 th:text="${__${T(pl.filiphagno.util.AttributeNames).RESULT_MESSAGE}__}">Result message</h3>
        <h3><a th:href="@{__${T(pl.filiphagno.util.GameMappings).RESET}__}">Play Again</a></h3>
        <h3><a href="/">Home</a></h3>
    </div>
    <footer th:replace="~{fragments/footer.html::footerFragment}"></footer>
</div>
</body>
</html>